*{ box-sizing: border-box;}

*, html, body{
    margin: 0;
    padding: 0;
}

body{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: black;
    color: rgb(194, 185, 185);   
}

#wrapper{
    width: 80%;
    margin:auto;
    overflow: auto;
    background-image: url(./images/back_nite.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(109, 106, 106);
    padding-bottom: 1.2em;
}

header{
    width: 100%;
    margin: auto;
    text-align: right;
    height: 10vh;
    background-image: url(./images/bannerBlack.jpg);
    background-position: center;
    background-color: rgb(109, 106, 106);

}


header p{
    float: left;
    width: 50%;
    text-align: left;
    padding-left: .8em;
    padding-top: .7em;
    font-size: 1.65em;
    font-weight: bold;
    color: rgb(194, 185, 185);
}

ul{
    list-style:inside; 
}

header ul{
    padding-top: 1.5em;
    padding-right: 1.5em;
    float: right;
    width: 50%;
}

header ul li{
    display: inline;
    padding: 0.5em;
    border: 2px rgb(194, 185, 185) solid;  
    border-radius: 10%;
}

header ul li a{
    list-style: none;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.5em;
    color: rgb(194, 185, 185);
}

header ul li a:hover{
    
    color: gray;
}

#main-container{
    display: block;
    width: 100%;
    margin: auto;
    height: 100vh;
}

#main{
    width: 60%;
    float: right;
    padding-right: 1em;
    padding-top: 1em;
    padding-left: 1em;
}

#main h2{
    font-size: 2em;
    padding-bottom: .5em;
}

#contactInfo{
    padding: .5em;
    padding-left: 0;
    font-weight: bolder;
}



.exp-info{
 display: flex;
 padding-bottom: .3em;
}

.exp-info img{
    border: 1px solid black;
    float: left;
    clear: both;
    border-radius: 50%;
}

.exp-info h4{
    float: right;
    clear: both;
    padding-top: 0.8em;
    padding-left: 0.5em;
}
   

#workExperience h3{
    font-size: 1.5em;
    padding-top: 1.2em;
    padding-bottom: 1em;
}

#workExperience ul{
    padding-bottom: .5em;
}

#educationInfo{
    margin-top: 1em;
    padding-bottom: .5em;
}

.education{
    margin-top: .5em;
}

.education p{
    margin-top: .5em;
}

.education h4{
    font-weight: bolder;
}

#side{
    width: 40%;
    float: left;
    padding-left: 1.5em;
    padding-top: 1.5em;
    padding-right: 1.5em;
}

#myPicture{
    border: 3px solid black;
    border-radius: 50%;
    width: 50%;
    margin-left: 100px;
}

#side h3{
    font-size: 1.5em;
    padding-top: 1.2em;
    padding-bottom: 1em;
}

#side p{
    text-align: justify;
}

#skills div{
    text-align: left;
}

#skills div button{
    width: 8em;
    height: 2em;
    margin-top: .3em;
    padding-top: .3em;
    padding-bottom: .3em;
    box-shadow: 0 5px 5px 0 grey, 0 5px 5px 0 grey;
    border-radius: 8px;
    font-weight: bold;
}

#skills h4{
    padding-top: 1em;
    padding-bottom: .5em;
}

#QAmore, #Softmore, #Devmore{
    padding-top: 1em;
    display: none;
}

.bar{
    display: block;
    width:100%;
    background-color: #d1d1e0;
    border: 2px solid black;
    border-radius: 50px 20px;
    color: #1d1d1c;
    
}

#SmokeTesting, #RegressionTesting, #TCManagement{
    height: 1.5em;
    width:100%;
    padding: 1px;
    background-color: rgb(231, 8, 8);
    border: 2px solid black;
    border-radius: 50px 20px;
    padding-left: 5px;
}

#automation{
    height:24px;
    width:50%;
    padding: 1px;
    background-color: rgb(231, 8, 8);
    border: 2px solid black;
    border-radius: 50px 20px;
    padding-left: 5px;
}

#leadership{
    height:24px;
    width:70%;
    padding: 1px;
    background-color: #af1d77;
    border: 2px solid black;
    border-radius: 50px 20px;
    padding-left: 5px;
}

#timeManagement, #critical{
    height:24px;
    width:95%;
    padding: 1px;
    background-color: #af1d77;
    border: 2px solid black;
    border-radius: 50px 20px;
    padding-left: 5px;
}

#teamwork{
    height:24px;
    width:100%;
    padding: 1px;
    background-color: #af1d77;
    border: 2px solid black;
    border-radius: 50px 20px;
    padding-left: 5px;
}

#js, #html, #css{
    height:24px;
    width:45%;
    padding: 1px;
    background-color: #f3593e;
    border: 2px solid black;
    border-radius: 50px 20px;
    padding-left: 5px;
}

#csharp{
    height:24px;
    width:35%;
    padding: 1px;
    background-color: #f3593e;
    border: 2px solid black;
    border-radius: 50px 20px;
    padding-left: 5px;
}


th{
    border: 3px black solid;
    padding: .8em;
    font-size: 1.3em;
    font-weight: bolder;
    color: rgb(54, 53, 53);
}

tr td{ 
    color: black;
    padding: .5em;
    border: 3px black solid;
    
}

table{
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    font-weight: bold;
    margin-top: 1.2em;
    background-image: linear-gradient(rgb(219, 218, 218), rgb(158, 158, 154), rgb(157, 160, 157));
}

.game1img{
    text-align: center;
}

#rpsPlay{
    width: 8em;
    height: 2em;
}

#rpsButtonPlay{
    text-align: center;
}

#rpsButtonPlay button{
    text-align: center;
    width: 8em;
    height: 2em;
    margin-top: .3em;
    padding-top: .3em;
    padding-bottom: .3em;
    box-shadow: 0 5px 5px 0 grey, 0 5px 5px 0 grey;
    border-radius: 8px;
    font-weight: bold;
}

#tictac{
    text-align: center;
}

#tictac button{
    width: 8em;
    height: 8em;
    box-shadow: 0 5px 5px 0 grey, 0 5px 5px 0 grey;
    border-radius: 8px;
    font-weight: bold;
}

#controls button{
    width: 8em;
    height: 2em;
    margin-top: .3em;
    padding-top: .3em;
    padding-bottom: .3em;
    box-shadow: 0 5px 5px 0 grey, 0 5px 5px 0 grey;
    border-radius: 8px;
    font-weight: bold;
}

#turn button{
    padding: .2em;
}

#socialNet{
    display: block;
    text-align: center;
}

#gitimage{
    border: 3px solid black;
    width: 50%;
    margin-top: 1.2em;
    background-color: white;
}

#countries{
    width: 100%;
    
}

#countries tr{
    text-align: center;
}



.country{
    width: 8em;
    height: 6em;
    box-shadow: 0 5px 5px 0 grey, 0 5px 5px 0 grey;
    border-radius: 8px;
    font-weight: bold;
    border: 2px black solid;
    text-align: center;
    margin-top: 3px;
    
}

#sidePersonal{
    text-align: center;
    width: 40%;
    float: left;
    padding-left: 1.5em;
    padding-top: 1.5em;
    padding-right: 1.5em;
}

#sidePersonal h2{
    padding-top: .5em;
}

#sidePersonal h3{
    padding-top: .8em;
    padding-bottom: 1em;
}

#sidePersonal img{
    padding-top: .5em;
    padding-bottom: .5em;
}

#photo{
    border-radius: 20%;
}

#readBlog{
    text-align: center;
    width: 8em;
    height: 2em;
    padding: 0.3em;
    box-shadow: 0 5px 5px 0 grey, 0 5px 5px 0 grey;
    border-radius: 8px;
    border: 2px black solid;
    background-color: rgba(245, 245, 220, 0.699);
    font-weight: bold;
    text-decoration: none;
    color: black;
}

